@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f95454;
  --secondary-color-dark: #bc3b3b;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

/* bootstrap navbar */
.navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--secondary-color-dark);
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item{
  background-color: var(--primary-color);
  color: var(--white);
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--primary-color-extra-light); 
  color: #fff;
}

.gym-logo{
  height: 100px;
  width: 100px;
}

body {
  background-color: #111317;
  color: white; 
}
main {
  background-color: #111317;
}
footer {
  background-color: #111317;
  color: white; 
}
footer a {
  color: white; 
}








.form-container{
  height: auto;
  width: 60%;
  background-color: var(--primary-color-light);
  align-items: center;
  margin: 0px 18%;
  padding: 4%;
  border-radius: 10px;
}
.form-container label{
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
  color: var(--white);
  background: none;
}
.form-container input{
  padding: 18px;
  margin: 14px;
  width: 99%;
  font-size: 20px;
  color: var(--white);
  background-color: var(--primary-color-extra-light);
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.form-container input:hover{
  border: 2px solid var(--secondary-color);
}
.form-container button{
  padding: 15px;
  margin-top: 70px;
  width: 99%;
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color-light);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: all 0.5s;
}
.form-container button:hover{
  background-color: var(--secondary-color-dark);
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 767px) and (min-width:350px){
  .gym-logo{
    height: 60px;
    width: 60px;
  }
  .form-container{
    height: auto;
    width: 70%;
    background-color: var(--primary-color-light);
    align-items: center;
    margin: 0px 18%;
    padding: 4%;
    border-radius: 10px;
  }
  .form-container label{
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--white);
    background: none;
  }
  .form-container input{
    padding: 5px;
    margin: 0 0 10px 0;
    width: 99%;
    font-size: 0.9rem;
    color: var(--white);
    background-color: var(--primary-color-extra-light);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  .form-container button{
    padding: 10px;
    margin-top: 70px;
    width: 98%;
    font-size: 0.9rem;
    color: var(--secondary-color);
    background-color: var(--primary-color-light);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1024px) and (min-width:767px){
  .form-container{
    height: auto;
    width: 60%;
    background-color: var(--primary-color-light);
    align-items: center;
    margin: 0px 18%;
    padding: 4%;
    border-radius: 10px;
  }
  .form-container label{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 30px;
    color: var(--white);
    background: none;
  }
  .form-container input{
    padding: 18px;
    margin: 14px;
    width: 99%;
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary-color-extra-light);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  .form-container button{
    padding: 15px;
    margin-top: 70px;
    width: 99%;
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color-light);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: all 0.5s;
  }
}






/* Footer section */
.footer-container {
  background-color: #111317;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: var(--white);
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer-content h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}


.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col > a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
}

.footer__bar {
  margin-left: 145px;
}

.footer__col a {
  text-decoration: none;
}

.footer__col a:hover {
  text-decoration: underline var(--secondary-color);
}

@media screen and (max-width: 1024px) and (min-width:767px) {
  .footer-container {
    flex-direction: column; 
    height: auto; 
    padding: 0 5%;
  }
  .footer__col {
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer__col h4 {
    font-size: 1.1rem; 
  }
  .footer__socials {
    justify-content: center;
    margin-top: 1rem;
  }

  .footer__socials a {
    font-size: 1rem; 
    padding: 8px;
  }

  .footer__col > a {
    font-size: 0.9rem; 
  }

  .footer__bar {
    font-size: 0.75rem; 
  }
}
@media screen and (max-width: 767px) and (min-width:350px) {
  .footer-container {
    flex-direction: column; 
    height: auto;
    padding: 0 5%; 
  }
  .footer__col {
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer__col h4 {
    font-size: 1.1rem; 
  }

  .footer__socials {
    justify-content: center; 
    margin-top: 1rem;
  }

  .footer__socials a {
    font-size: 1rem; 
    padding: 8px;
  }

  .footer__col > a {
    font-size: 0.9rem; 
  }
  .footer__bar {
    font-size: 0.75rem; 
  }
  .footer__bar p{
    text-align: left;
  }
}
